* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0%;
    margin: 0%;

}

body {
    background-color: black;
}




.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 400px;
    padding-top: 400px;
    flex-direction: row;

}

.titulo {

    text-align: center;
    font-size: 45px;
    position: absolute;
    margin-left: 140px;
    line-height: 26px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 248, 248);
    margin-top: -255px;


}

form {
    background: #9BCCFA;
    width: 776px;
    height: 700px;
    border-radius: 5%;
    align-content: center;
    display: inline-block;
    position: absolute;

}

.box {
    background: #ffffff;
    width: 744px;
    height: 1184px;
    padding: 16px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    margin-top: -132px;
    position: absolute;

}

.logo {
    margin-left: 150px;
    display: block;
    width: 161px;
    height: 161px;    
    position: absolute;
    top: 60px;



}

.logo2 {
    text-align: center;
    width: 18px;
    width: 310px;
    height: 120px;
    color: #2260FF;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    word-wrap: break-word;
    margin-left: 315px;
    display: block;
    margin-top: 90px;
    position: absolute;
}

.form {
    color: #03314B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    padding-left: 62px;
    top: 255px;
    position: absolute;
}

.form2 {
    color: #03314B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    padding-left: 56px;
    margin-top: 714px;
    position: absolute;
}


.input-group {
    position: relative;
}

.input {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 280px;
    border-radius: 10px;
    width: 616px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: inline-block;
    outline: 2px solid #fff;

}

.input2 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 360px;
    border-radius: 10px;
    width: 616px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input3 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 520px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input4 {
    padding-left: 10px;
    margin-left: 380px;
    margin-top: 520px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input5 {
    padding-left: 10px;
    margin-left:58px;
    margin-top: 440px;
    border-radius: 10px;
    width: 616px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input6 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 760px;
    border-radius: 10px;
    width: 150px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input7 {
    padding-left: 10px;
    margin-left: 380px;
    margin-top: 840px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input8 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 840px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input9 {
    padding-left: 10px;
    margin-left: 235px;
    margin-top: 760px;
    border-radius: 10px;
    width: 439px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input10 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 600px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input11 {
    padding-left: 10px;
    margin-left: 380px;
    margin-top: 600px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input12 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 920px;
    border-radius: 10px;
    width: 294px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input13 {
    padding-left: 10px;
    margin-left: 58px;
    margin-top: 1000px;
    border-radius: 10px;
    width: 616px;
    height: 56px;
    opacity: 80%;
    position: absolute;
    display: block;
    outline: 2px solid #fff;

}

.input-label {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 285px;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;

}

.input-label2 {
    position: absolute;
    margin-top: 365px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-left:60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label3 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 525px;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label4 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 525px;
    margin-left: 380px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label5 {
    position: absolute;
    margin-top: 445px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label6 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 768px;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label7 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 847px;
    margin-left: 380px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label8 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 849px;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label9 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 768px;
    margin-left: 237px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label10 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 605px;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label11 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 605px;
    margin-left: 380px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label12 {
    position: absolute;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-top: 927px;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input-label13 {
    position: absolute;
    margin-top: 1005px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    margin-left: 60px;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 24px;
    color: #8f8e94;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;

}

.input2:focus+.input-label2,
.input2:valid+.input-label2 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input3:focus+.input-label3,
.input3:valid+.input-label3 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input4:focus+.input-label4,
.input4:valid+.input-label4 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input5:focus+.input-label5,
.input5:valid+.input-label5 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input6:focus+.input-label6,
.input6:valid+.input-label6 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input7:focus+.input-label7,
.input7:valid+.input-label7 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input8:focus+.input-label8,
.input8:valid+.input-label8 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input9:focus+.input-label9,
.input9:valid+.input-label9 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input10:focus+.input-label10,
.input10:valid+.input-label10 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input11:focus+.input-label11,
.input11:valid+.input-label11 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input12:focus+.input-label12,
.input12:valid+.input-label12 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}

.input13:focus+.input-label13,
.input13:valid+.input-label13 {
    transform:
        translate(10px, -20px) scale(.8);
    color: #8f8e94;
    padding-inline: 5px;
    background-color: #fff;
}


.input:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input2:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input3:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input4:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input5:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input6:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input7:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input8:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input9:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input10:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input11:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input12:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.input13:is(:focus, :valid) {
    outline-color: rgba(59, 59, 50, 0.47);
}

.EnvButton {
    position: absolute;
    top: 1129px;
    margin-left: 227px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    background-color: #0216C5;
    border-radius: 22px;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    transition: box-shadow 1x ease;


}

.BackButton {
    position: absolute;
    margin-left: -380px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 22px;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    transition: box-shadow 1x ease;


}

.EnvButton:hover {
    box-shadow: inset 400px 0 0 #0008;
}


.caixa {
    background-color: #79C7FF;
    width: 330px;
    height: 300px;
    display: flex;
    position: absolute;
    margin-top: -350px;
    border-top-left-radius: 26px;


}



.caixa2 {
    background-color: #5DB1EF;
    width: 280px;
    height: 200px;
    display: flex;
    position: absolute;
    margin-top: -200px;
    left: 130px;



}

.caixa3 {
    background-color: #5DB1EF;
    width: 239px;
    height: 148px;
    display: flex;
    position: absolute;
    margin-top: -350px;
    left: 537px;
    border-top-right-radius: 26px;
}

.caixa4 {
    background-color: #321C89;
    width: 3px;
    height: 310px;
    display: flex;
    position: absolute;
    margin-top: -299px;
    left: 340px;
    border-radius: 26px;
}

.caixa5 {

    background-color: #79C7FF;
    width: 110px;
    height: 220px;
    display: flex;
    position: absolute;
    margin-top: -230px;
    left: 666px;

}

.caixa6 {
    background-color: #321C89;
    width: 49px;
    height: 160px;
    display: flex;
    position: absolute;
    margin-top: -170px;
    left: 727px;
    border-top-left-radius: 52px;
}




.Vector {
    width: 87px;
    height: 88px;
    left: 30px;
    top: 68px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}
